server:
  port: 8081

spring:
  datasource:
    url: jdbc:h2:mem:authdb;DB_CLOSE_DELAY=-1;MODE=PostgreSQL
    driverClassName: org.h2.Driver
    username: sa
    password:
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
    open-in-view: false

app:
  cors:
    allowed-origins: "http://localhost:5173"
  jwt:
    issuer: "amazon-clone"
    secret: "change-me-to-a-32+char-secret-please-1234567890"
    expiration-minutes: 10080
